<main>
    <!-- extra info over jaar -->
    <section class="info" #infoSection>
        <button (click)="this.selectYear(infoSection)">X</button>
        <ng-container *ngIf="songsPerYear[selectedYear]">
            <div>
                <h2>{{selectedYear}}</h2>
                <p>Deze playlist bevat {{songsPerYear[selectedYear].length}} nummer<ng-container
                        *ngIf="songsPerYear[selectedYear].length > 1">s</ng-container> uit {{selectedYear}}</p>
            </div>
            <ul>
                <li *ngFor="let song of songsPerYear[selectedYear]">
                    <img src="{{song.img}}" alt="album cover {{song.album}}" loading="lazy">
                    <div>
                        <p>{{song.name}} - {{song.artist}}</p>
                        <p>{{song.date | date}}</p>
                    </div>
                </li>
            </ul>
        </ng-container>
    </section>
    <div class="infobg" (click)="this.selectYear(infoSection)"></div>

    <!-- main timeline met jaartallen, vraag met niet wat er allemaal gebeurt -->
    <section class="timeline" *ngIf="!loading">
        <div class="partscontainer">
            <div class="timelinepart" *ngFor="let range of yearRange; let i = index; last as isLast"
                [attr.data-index]="i" id="range{{range}}">
                <span>{{range}}<ng-container *ngIf="!isLast">s</ng-container></span>
                <ng-container *ngFor="let year of individualYears">
                    <button *ngIf="year >= range && year < range+yearStep" #yearSelect
                        (click)="selectYear(infoSection, yearSelect.id)"
                        [style.left]="yearRange[yearRange.length - 2] == range && rounded ? (year - range)*10*multiply+'%' : (year - range)*10+'%'"
                        id="year{{year}}" class="yearbutton">
                        <span>{{year}}</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </section>

    <div class="allbgs">
        <div *ngFor="let range of yearRange; let i = index; last as isLast" class="bg-container" [ngStyle]="{
    'transform': (isLast) ? 'translateX(-100vw)' : 'translateX('+i*80+'vw)',
    'background-color': (isLast) ? 'none' : 'var(--year'+range+')',
    'z-index': yearRange.length - i}">

            <svg [outerHTML]="loadBackground(range, isLast) | safe: 'html'"></svg>

            <section class="randominfo" *ngIf="randomSongsInRange[i]">
                <h1>{{randomSongsInRange[i].name}}</h1>
                <p>{{randomSongsInRange[i].artist}} - {{randomSongsInRange[i].album}}</p>
                <p>{{randomSongsInRange[i].date | date}}</p>
            </section>
        </div>
    </div>
</main>

<!-- (ended)="chooseRandomTrack(true)" -->

<audio #audio preload="auto" id="{{randomSongCurrentRange}}" (ended)="playRandomSongInRange(audio.id, true)">
    <source *ngIf="randomSongPreview !== ''" src="{{randomSongPreview}}" type="audio/mp3">
</audio>
