/*------------------
container
------------------*/
app-visualisation main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: background 0.3s ease-in-out;
}



/*------------------
maand tijdlijn aan de zijkant
------------------*/
/* app-visualisation .monthlinecontainer {
  position: fixed;
  height: 60%;
  max-width: 80vw;
  min-width: 30em;
  background: green;
  top: 10vh;
  left: 10vw;
  display: flex;
  display: none;
}

app-visualisation .monthlinecontainer .monthline {
  width: 2em;
  height: 100%;
  background-color: blue;
}

app-visualisation .monthlinecontainer ul {
  position: absolute;
  top: 0;
  left: 2em;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
} */



/*------------------
hoofd tijdlijn aan de bovenkant
------------------*/
app-visualisation .timeline {
  box-sizing: content-box;
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  height: 2em;
  display: flex;
  overflow: visible;
  padding: 1em 0;
}

app-visualisation .timeline .partscontainer {
  width: fit-content;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}

app-visualisation .timeline .partscontainer .timelinepart {
  scroll-snap-align: center;
  position: relative;
  width: 80vw;
  height: 0;
  border-top: solid 2px var(--primary-timeline);
  border-bottom: solid 2px var(--primary-timeline);
  margin: 0 auto;
  overflow: visible;
}

app-visualisation .timeline .partscontainer .timelinepart.active {
    border-color: red;
}

app-visualisation .timeline .partscontainer .timelinepart:last-of-type {
  width: fit-content;
}

app-visualisation .timeline .partscontainer .timelinepart>span {
  position: absolute;
  top: -2em;
  left: -1.3em;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--primary-timeline);
  text-shadow: 0 0 1px black;
}

app-visualisation .timeline .partscontainer .timelinepart:last-of-type>span {
  left: -1.2em;
}

app-visualisation .timeline .partscontainer .timelinepart:not(:last-of-type)::after,
app-visualisation .timeline .partscontainer .timelinepart:first-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 1.5em;
  background-color: var(--primary-timeline);
}

app-visualisation .timeline .partscontainer .timelinepart:first-of-type::before {
  left: 0;
}

app-visualisation .timeline .partscontainer .timelinepart button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--primary-timeline);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

app-visualisation .timeline .partscontainer .timelinepart button>span {
  position: absolute;
  top: 110%;
  right: -100%;
  transform: rotate(45deg);
  font-size: 1em;
  text-shadow: 0 1px black;
}


/*------------------
info popup panel
------------------*/
app-visualisation .info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -200%);
  max-width: 90%;
  width: 30em;
  max-height: 80%;
  height: 40em;
  background-color: red;
  opacity: 0;
  transition: all 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 5;
}

app-visualisation .info.active {
  transform: translate(-50%, -50%);
  opacity: 1;
}



/*------------------
background zooi
------------------*/
app-visualisation .allbgs {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

app-visualisation .allbgs .bg-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 80vw;
  background-repeat: repeat-x;
  background-position: bottom right;
  background-size: cover;
}

app-visualisation .allbgs .bg-container svg {
  height: 100%;
  position: absolute;
  right: 0;
}

app-visualisation .allbgs .randominfo {
    position: absolute;
    left: 10%;
    top: 10em;
    max-width: 40em;
    overflow: hidden;
}

app-visualisation .allbgs .randominfo h1 {
    font-weight: 700;
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

app-visualisation .allbgs .randominfo p {
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
