main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

main section:first-of-type {
  position: fixed;
  max-width: 90%;
  width: 60em;
  height: 100vh;
  justify-content: center;
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text-color);
  text-align: center;
}

main section:first-of-type div {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
}

main section:first-of-type div h1 {
    font-size: 3em;
}

main section:first-of-type a {
    box-sizing: content-box;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    background: var(--year1980);
    padding: 1em 2em;
    border-radius: 0.5em;
    width: 9em;
    transition: all .4s ease-in-out;
}

main section:first-of-type a:hover,
main section:first-of-type a:focus-visible {
    box-shadow: inset 13em 0 0 0 var(--year1990);
}
