*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

:root {
  /* colors */
  --bg-color: #99BAA7;
  --primary-text-color: #000;
  --secondary-text-color: #b3b3b3;
  --primary-timeline: #252525;

  /* decade colors */
  --year1950: #99BAA7;
  --year1960: #D998A0;
  --year1970: #F3A227;
  --year1980: #7D55C7;
  --year1990: #B3346C;
  --year2000: #FC8FE4;
  --year2010: pink;
  --year2020: pink;

  /* constants */
  --bg-color-dark: #212121;
  --bg-color-light: #fff;
}

body {
  background: var(--bg-color);
  font-family: montserrat, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  position: relative;
}

ul,
ol,
dd {
  list-style-type: none;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

/* input[type=checkbox] {
  accent-color: var(--spotify-green);
} */
