@font-face {
    font-family: inter;
    src: url(assets/Inter-VariableFont.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

:root {
  /* colors */
  --bg-color: #16161A;
  /* --bg-color: #99BAA7; */
  --primary-text-color: #fff;
  --secondary-text-color: #c2c2c2;
  --primary-timeline: #fff;

  --playlist-bg: rgba(255, 255, 255, 0.1);
  --playlist-bg-hover: rgba(255, 255, 255, 0.2);

  /* decade colors */
  --year1950: #99BAA7;
  --year1960: #D46355;
  --year1970: #E5781E;
  --year1980: #7D55C7;
  --year1990: #B3346C;
  --year2000: #FC8FE4;
  --year2010: #0080FF;
  --year2020: #16161A;

  /* constants */
  --bg-color-dark: #212121;
  --bg-color-light: #fff;
}

body {
  background: var(--bg-color);
  font-family: inter, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  position: relative;
}

ul,
ol,
dd {
  list-style-type: none;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
